{% extends 'base.html.twig' %}

{% block body %}
    <h2>Mes publications</h2>
    {% if app.user %}
        <a href="/logout" class="btn btn-danger">Déconnexion</a>
    {% else %}
        <a href="/login" class="btn btn-success">Connexion</a>
    {% endif %}

    <div class="row">
        {% for post in posts %}
            <div class="col-3 mb-3 card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{ post.title }}</h5>
                    <p class="card-text">{{ post.content }}</p>
                    {% if app.user %}
                        <a href="{{ path('post_favorite', {'id': post.id}) }}" class="card-link js-fav">
                            {% if post.isFavByUser(app.user) %}
                                <i class="fas fa-heart"></i>
                            {% else %}
                                <i class="far fa-heart"></i>
                            {% endif %}
                        </a>
                    {% endif %}

                </div>
            </div>
        {% else %}
            <b>Aucune publication</b>
        {% endfor %}
    </div>

{% endblock %}

{% block javascripts %}
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        window.addEventListener("load", function(event) {
            document.querySelectorAll("a.js-fav").forEach(link => {
                link.addEventListener("click", favorite)
            });
        });

        function favorite (event) {
            event.preventDefault();
            const favIcon = this.querySelector("i.fa-heart");
            axios.post(this.href).then(response => {
                if(favIcon.classList.contains("fas")) {
                    favIcon.classList.replace("fas", "far");
                } else {
                    favIcon.classList.replace("far", "fas");
                }
            }).catch(error => {
                if(error.response.status === 403) {
                    window.alert("Vous ne pouvez pas ajouter un article aux favoris sans être connecté.");
                } else {
                    window.alert("Une erreur s'est produite.");
                }
            });
        }
    </script>
{% endblock %}